<% content_for :page_title, 'Edit Live Event' %>
<% content_for :page_actions do %>
  <%= link_to 'Back to Campaign', portal_campaign_path(@campaign), class: 'btn btn-secondary btn-sm' %>
<% end %>

<div class="card" style="max-width:600px;">
  <h3>Edit Event</h3>
  <%= render 'form', live_event: @live_event, url: portal_campaign_live_event_path(@campaign, @live_event), method: :patch %>
</div>
